@charset "utf-8";

html {
    font-size: 62.5%;
}



/* small(min-width: 320px) */
/* body */
body * {
    margin: 1vmin;
}

body {
    font-size: 1.2rem;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.container_c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* header */
header {
    padding: 1vmin;
    background-color: hsl(225, 40%, 50%);
}

header > h1 {
    font-size: 1.8rem;
    color: white;
}


/* section */
main > section h1 {
    font-size: 1.6rem;
}


/* introduction */
.introduction {
    margin: 0 auto;
}

.profile {
    background-color: hsl(225, 100%, 94%);
    border-radius: 2vmin;
    align-items: center;
    justify-content: center;
}

.img {
    text-align: center;
}

#syukatsu {
    width: 20vmin;
    height: auto;
    border-radius: 50%;
}

.profile > ul {
    list-style: none;
}


/* skills */
.skills {
    font-size: 1.4rem;
}

.skill, .study {
    background-color: #eeeeee;
    border-radius: 2vmin;
}

.skill, .study > ul {
    list-style-position: inside;
}

.study > ul > li > ul {
    list-style-type: none;
}

.study > ul > li > ul > li {
    font-size: 1.0rem;
}

.study > ul > li > ul > li::before {
    content: '- ';
}


/* works */
.works > dl {
    list-style-type: none;
}

.works > dl > div {
    background-color: hsl(225, 100%, 96%);
    border: solid hsl(225, 100%, 80%);
}

.works dt {
    font-size: 1.4rem;
    text-align: center;
}

.works img {
    width: 20vmin;
}

.works a {
    text-decoration: none;
}    

.works .nsca {
    background-color: hsl(55, 100%, 86%);
    border: solid hsl(55, 100%, 46%);
}


/* contact */
.contact > ul {
    list-style-type: none;
}

.contact a {
    padding: 0;
}


/* footer */
footer {
    margin: 10vmin 1vmin 1vmin;
    text-align: center;
}



/* medium */
@media (min-width: 600px) {
    /* body */
    body {
        font-size: 1.6rem;
    }

    /* header */
    header > h1 {
        font-size: 2.2rem;
    }

    /* section */
    main > section h1 {
        font-size: 2.0rem;
    }

    /* introduction */
    .profile {
        font-size: 1.8rem;
    }

    /* skills */
    .skills {
        display: flex;
        justify-content: space-around;
    }

    .skills {
        font-size: 1.8rem;
    }
    
    .skills > div {
        width: 49%;
    }
    
    .study > ul > li > ul > li {
        font-size: 1.4rem;
    }
    
    /* works */
    .works dt {
        font-size: 1.8rem;
    }
}



/* large */
@media (min-width: 1025px) {
    /* body */
    body {
        font-size: 1.8rem;
    }

    /* header */
    header > h1 {
        font-size: 2.4rem;
    }

    /* section */
    main > section h1 {
        font-size: 2.2rem;
    }

    /* introduction */
    .profile {
        font-size: 2.0rem;
    }

    /* skills */
    .skills {
        font-size: 2.0rem;
    }

    .study > ul > li > ul > li {
        font-size: 1.6rem;
    }
    
    .works > dl {
        display: flex;
        justify-content: space-around;
    }

    /* works */
    .works dt {
        font-size: 2.0rem;
    }
    
    .works div {
        width: 33%;
    }
}



/* extra large */
@media (min-width: 1280px) {
    /* body */
    body {
        width: 1280px;
    }
}